/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 18, ../sass/partials/_variables.scss */
.btn {
  background: none repeat scroll 0 0 #d2943d;
  border: 1px solid #d48f04;
  border-radius: 4px;
  box-sizing: border-box !important;
  color: #ffffff;
  display: inline-block;
  font-size: 1em;
  padding: 8px 18px;
  text-transform: uppercase;
  font-family: "Oswald";
}
/* line 30, ../sass/partials/_variables.scss */
.btn:hover {
  background: #E8A145;
}

/* line 35, ../sass/partials/_variables.scss */
.btn-green {
  background: none repeat scroll 0 0 #38b2a5;
  border: 1px solid #118b7e;
  border-radius: 3px;
  bottom: 0;
  color: #fff;
  font-family: "Oswald";
  font-size: 14.3px;
  font-weight: 400;
  line-height: 9px;
  padding: 15px 25px;
  text-transform: uppercase;
}
/* line 47, ../sass/partials/_variables.scss */
.btn-green:hover {
  background: none repeat scroll 0 0 #1e988b;
}

/* line 53, ../sass/partials/_variables.scss */
.tac {
  text-align: center !important;
}

/* line 54, ../sass/partials/_variables.scss */
.tal {
  text-align: left !important;
}

/* line 55, ../sass/partials/_variables.scss */
.tar {
  text-align: right !important;
}

/* line 56, ../sass/partials/_variables.scss */
.mt-40 {
  margin-top: 40px !important;
}

/* line 57, ../sass/partials/_variables.scss */
.pl-0 {
  padding-left: 0 !important;
}

/* line 58, ../sass/partials/_variables.scss */
.pr-0 {
  padding-right: 0 !important;
}

/* line 59, ../sass/partials/_variables.scss */
.dib {
  display: inline-block !important;
}

/* line 60, ../sass/partials/_variables.scss */
.vam {
  vertical-align: middle !important;
}

@media only screen and (max-width: 40em) {
  /* line 64, ../sass/partials/_variables.scss */
  .tac-for-small {
    text-align: center !important;
  }

  /* line 65, ../sass/partials/_variables.scss */
  .tal-for-small {
    text-align: left !important;
  }

  /* line 66, ../sass/partials/_variables.scss */
  .tar-for-small {
    text-align: right !important;
  }

  /* line 67, ../sass/partials/_variables.scss */
  .pl-0-for-small {
    padding-left: 0 !important;
  }

  /* line 68, ../sass/partials/_variables.scss */
  .pr-0-for-small {
    padding-right: 0 !important;
  }

  /* line 69, ../sass/partials/_variables.scss */
  .dib-for-small {
    display: inline-block !important;
  }
}
@media only screen and (min-width: 40.063em) {
  /* line 75, ../sass/partials/_variables.scss */
  .tac-for-large {
    text-align: center !important;
  }

  /* line 76, ../sass/partials/_variables.scss */
  .tal-for-large {
    text-align: left !important;
  }

  /* line 77, ../sass/partials/_variables.scss */
  .tar-for-large {
    text-align: right !important;
  }

  /* line 78, ../sass/partials/_variables.scss */
  .pl-0-for-large {
    padding-left: 0 !important;
  }

  /* line 79, ../sass/partials/_variables.scss */
  .pr-0-for-large {
    padding-right: 0 !important;
  }

  /* line 80, ../sass/partials/_variables.scss */
  .dib-for-large {
    display: inline-block !important;
  }
}
/* line 1, ../sass/partials/_footer.scss */
.footer {
  background: #AAAC9F;
}
/* line 3, ../sass/partials/_footer.scss */
.footer .footer-big-row {
  padding-bottom: 30px;
  padding-top: 10px;
}
/* line 10, ../sass/partials/_footer.scss */
.footer h3, .footer h4, .footer h5 {
  font-size: 1.8em;
  font-weight: 500;
  margin: 0;
  text-transform: uppercase;
}
/* line 17, ../sass/partials/_footer.scss */
.footer h3 {
  font-size: 20px;
}
/* line 21, ../sass/partials/_footer.scss */
.footer .footer-left-col, .footer .footer-right-col {
  margin-top: 30px;
}
/* line 25, ../sass/partials/_footer.scss */
.footer .seguinos {
  margin-bottom: 30px;
}
/* line 27, ../sass/partials/_footer.scss */
.footer .seguinos h3 {
  margin-right: 20px;
}
/* line 31, ../sass/partials/_footer.scss */
.footer .seguinos a.social-footer-link {
  margin-left: 4px;
}
/* line 37, ../sass/partials/_footer.scss */
.footer .offices h3 {
  margin-bottom: 15px;
}
/* line 41, ../sass/partials/_footer.scss */
.footer .offices .office {
  margin-bottom: 0.9375rem;
}
/* line 43, ../sass/partials/_footer.scss */
.footer .offices .office h6 {
  text-transform: uppercase;
  font-size: 15px !important;
}
/* line 48, ../sass/partials/_footer.scss */
.footer .offices .office span.telefono {
  font-size: 12px;
}
/* line 52, ../sass/partials/_footer.scss */
.footer .offices .office .mail {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  width: 100%;
}
/* line 57, ../sass/partials/_footer.scss */
.footer .offices .office .mail:hover {
  text-decoration: underline;
}
/* line 67, ../sass/partials/_footer.scss */
.footer .footer-right-col .links * + h4, .footer .footer-right-col .links .nav-2dary > ul > li {
  margin-top: 15px;
}
/* line 71, ../sass/partials/_footer.scss */
.footer .footer-right-col .links h4,
.footer .footer-right-col .links ul.links-footer > li > a,
.footer .footer-right-col .links h4 a {
  color: #fff;
  text-decoration: none;
}
/* line 81, ../sass/partials/_footer.scss */
.footer .footer-right-col .links ul.links-footer > li > a:hover,
.footer .footer-right-col .links h4 a:hover {
  text-decoration: underline;
}
/* line 86, ../sass/partials/_footer.scss */
.footer .footer-right-col .links ul.links-footer {
  margin-left: 0;
  margin-bottom: 0;
}
/* line 89, ../sass/partials/_footer.scss */
.footer .footer-right-col .links ul.links-footer > li {
  line-height: 1.2em;
}
/* line 91, ../sass/partials/_footer.scss */
.footer .footer-right-col .links ul.links-footer > li > a {
  font-size: 13px;
}
/* line 93, ../sass/partials/_footer.scss */
.footer .footer-right-col .links ul.links-footer > li > a.more-footer {
  text-decoration: underline !important;
}
/* line 95, ../sass/partials/_footer.scss */
.footer .footer-right-col .links ul.links-footer > li > a.more-footer:hover {
  text-decoration: none !important;
}
/* line 103, ../sass/partials/_footer.scss */
.footer .footer-right-col .links .nav-2dary > ul > li {
  width: 100%;
  line-height: 0.8em;
}
/* line 106, ../sass/partials/_footer.scss */
.footer .footer-right-col .links .nav-2dary > ul > li > a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}
/* line 110, ../sass/partials/_footer.scss */
.footer .footer-right-col .links .nav-2dary > ul > li > a:hover {
  text-decoration: underline;
}
/* line 116, ../sass/partials/_footer.scss */
.footer .footer-right-col .links h4, .footer .footer-right-col .links h4 a, .footer .footer-right-col .links .nav-2dary > ul > li > a {
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
}
/* line 127, ../sass/partials/_footer.scss */
.footer .full-width-copyr {
  background: #2E352E;
  border-top: 2px solid #d2943d;
  color: #fff;
  padding: 10px 0;
}

/* line 3, ../sass/partials/_header.scss */
nav.nav-2dary[role="navigation"] ul, nav.nav[role="navigation"] ul {
  display: inline-block;
  margin: 0;
  text-align: left;
  width: auto;
}

/* line 13, ../sass/partials/_header.scss */
header .full-width {
  background: #2E352E;
  margin-bottom: 0;
  margin-top: 30px;
  border-bottom: 1px solid #E8A145;
  box-shadow: 0 1px 2px 0 #666;
}
/* line 20, ../sass/partials/_header.scss */
header .full-width nav.nav[role="navigation"] > ul {
  background: transparent;
  width: 100%;
}
/* line 23, ../sass/partials/_header.scss */
header .full-width nav.nav[role="navigation"] > ul > li {
  background: transparent;
  text-align: center;
  width: 16%;
}
/* line 27, ../sass/partials/_header.scss */
header .full-width nav.nav[role="navigation"] > ul > li > a {
  background: none repeat scroll 0 0 transparent;
  color: #fff;
  display: inline-block;
  font-size: 1.1em;
  font-weight: 100;
  line-height: 44px;
  text-transform: uppercase;
  width: 100%;
  transition: all 0.2s ease 0s;
}
/* line 37, ../sass/partials/_header.scss */
header .full-width nav.nav[role="navigation"] > ul > li > a:hover {
  background: none repeat scroll 0 0 #E8A145;
}
/* line 45, ../sass/partials/_header.scss */
header nav.nav-2dary[role="navigation"] > ul > li {
  text-align: center;
}
/* line 48, ../sass/partials/_header.scss */
header nav.nav-2dary[role="navigation"] > ul > li:last-child > a:hover {
  text-decoration: none !important;
}
/* line 53, ../sass/partials/_header.scss */
header nav.nav-2dary[role="navigation"] > ul > li > a {
  font-size: 1em;
  height: 32px !important;
  padding: 5px 3px;
  text-transform: uppercase;
  color: #d2943d;
  margin-right: 20px;
}
/* line 60, ../sass/partials/_header.scss */
header nav.nav-2dary[role="navigation"] > ul > li > a:hover {
  color: #E8A145;
  text-decoration: underline;
}
/* line 67, ../sass/partials/_header.scss */
header .flags-wrap {
  text-align: right;
}
/* line 69, ../sass/partials/_header.scss */
header .flags-wrap ul.flags-list {
  display: inline-block;
  margin: 10px 0 30px;
}
/* line 74, ../sass/partials/_header.scss */
header .flags-wrap ul.flags-list > li {
  text-align: center;
  display: inline-block;
  margin-left: 10px;
}

@media only screen and (max-width: 860px) {
  /* line 2, ../sass/partials/_mediaqueries.scss */
  body header .full-width nav.nav[role="navigation"] > ul > li > a {
    font-size: 0.75em;
  }
}
@media only screen and (max-width: 40em) {
  /* line 9, ../sass/partials/_mediaqueries.scss */
  .seguinos h3 {
    display: none !important;
  }
  /* line 14, ../sass/partials/_mediaqueries.scss */
  .seguinos a.social-footer-link {
    margin: 0 5%;
  }
}
@media only screen and (min-width: 40.063em) {
  /* line 22, ../sass/partials/_mediaqueries.scss */
  .seguinos a.social-footer-link {
    margin-left: 15px;
  }
}
/* line 1, ../sass/partials/_general.scss */
html {
  font-size: 100% !important;
}

/* line 5, ../sass/partials/_general.scss */
html, body, p, input, span, div, button {
  font-family: "Source Sans Pro";
}

/* line 9, ../sass/partials/_general.scss */
h1, h2, h3, h4, h5, h6, nav[role="navigation"] > ul {
  font-family: "Oswald" !important;
}

/* line 14, ../sass/partials/_general.scss */
.wrapper {
  margin: 0 !important;
  max-width: 100% !important;
  position: relative !important;
  width: 100% !important;
  background-color: #F5F4F2;
}

/* line 23, ../sass/partials/_general.scss */
input[type="search"] {
  box-sizing: border-box;
}

/* line 27, ../sass/partials/_general.scss */
nav[role="navigation"] > ul > li {
  display: inline-block;
}

/* line 32, ../sass/partials/_general.scss */
form.search input, form.search button {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}
/* line 38, ../sass/partials/_general.scss */
form.search input {
  width: 49%;
  min-width: 100px;
}

/* line 47, ../sass/partials/_general.scss */
input[type="search"] {
  border-radius: 4px;
  box-sizing: border-box !important;
  color: #000 !important;
  font-size: 1.1em !important;
  height: 2.4em !important;
  padding: 0.2em 0.9em !important;
}

/* line 57, ../sass/partials/_general.scss */
button.search-submit, header nav.nav-2dary[role="navigation"] > ul > li:last-child > a {
  background: none repeat scroll 0 0 #d2943d;
  border: 1px solid #d48f04;
  border-radius: 4px;
  box-sizing: border-box !important;
  color: #ffffff;
  display: inline-block;
  font-size: 1em;
  text-transform: uppercase;
}
/* line 67, ../sass/partials/_general.scss */
button.search-submit:hover, header nav.nav-2dary[role="navigation"] > ul > li:last-child > a:hover {
  background: #E8A145;
}

/* line 71, ../sass/partials/_general.scss */
button.search-submit {
  height: 32px !important;
  padding: 5px 8px;
}

/* line 78, ../sass/partials/_general.scss */
header nav.nav-2dary[role="navigation"] > ul > li:last-child > a {
  padding: 3px 8px;
  margin-right: 0px !important;
}

/* line 1, ../sass/partials/_home.scss */
.orbit-container .orbit-bullets-container {
  position: relative;
  height: 0;
}

/* line 6, ../sass/partials/_home.scss */
.orbitcontainer {
  margin-bottom: 0px;
}

/* line 10, ../sass/partials/_home.scss */
.orbitcontainer .orbit-container ol.orbit-bullets {
  margin: 0;
  top: -45px;
  z-index: 4;
}

/* line 16, ../sass/partials/_home.scss */
.orbitcontainer .orbit-container ol.orbit-bullets li {
  background: none repeat scroll 0 0 #e2e4d7;
  height: 0.7em;
  margin: 0.4em;
  width: 0.7em;
}
/* line 21, ../sass/partials/_home.scss */
.orbitcontainer .orbit-container ol.orbit-bullets li.active {
  background: none repeat scroll 0 0 #E8A145;
}

/* line 27, ../sass/partials/_home.scss */
.orbitcontainer a.orbit-prev, .orbitcontainer a.orbit-next, .orbitcontainer div.orbit-timer, .orbitcontainer div.orbit-slide-number {
  display: none !important;
}

/* line 32, ../sass/partials/_home.scss */
.grilla {
  background: #E6E5E0;
  padding: 50px 0;
}
/* line 35, ../sass/partials/_home.scss */
.grilla .home-grid-cell {
  background-color: #000;
  background-image: url("http://placehold.it/1000x500");
  background-position: center center;
  position: relative;
}
/* line 40, ../sass/partials/_home.scss */
.grilla .home-grid-cell > h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.2em;
  margin: 0 25px;
  padding: 15px 0;
  text-transform: uppercase;
}
/* line 50, ../sass/partials/_home.scss */
.grilla .home-grid-cell > a {
  margin-left: 25px;
  margin-bottom: 25px;
  display: inline-block;
}
/* line 55, ../sass/partials/_home.scss */
.grilla .home-grid-cell h4, .grilla .home-grid-cell a {
  left: 0;
  position: absolute;
}
/* line 60, ../sass/partials/_home.scss */
.grilla .home-grid-cell a {
  bottom: 0;
}
/* line 64, ../sass/partials/_home.scss */
.grilla .home-grid-cell h4 {
  bottom: 58px !important;
}
/* line 70, ../sass/partials/_home.scss */
.grilla .home-grid-cell a {
  background: none repeat scroll 0 0 #38b2a5;
  bottom: 0;
  color: #fff;
  font-family: "Oswald";
  font-size: 1.3em;
  font-weight: 400;
  line-height: 9px;
  padding: 10px 25px;
  text-transform: uppercase;
}
/* line 80, ../sass/partials/_home.scss */
.grilla .home-grid-cell a:hover {
  background: none repeat scroll 0 0 #1e988b;
}

/* line 87, ../sass/partials/_home.scss */
.noticias-section {
  padding: 67px 0 40px;
  background: #F5F4F2;
}
/* line 90, ../sass/partials/_home.scss */
.noticias-section .news h2 {
  background: url("http://placehold.it/30x30") no-repeat scroll left center transparent;
  font-size: 2.6em;
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: 0;
  padding-left: 45px;
  text-transform: uppercase;
}
/* line 100, ../sass/partials/_home.scss */
.noticias-section .home-post-container:nth-child(2) > h4 > a {
  color: #AAAC9F !important;
  font-size: 1.2em;
  text-transform: uppercase;
}
/* line 106, ../sass/partials/_home.scss */
.noticias-section .home-post-container > h4 {
  margin: 0;
}
/* line 110, ../sass/partials/_home.scss */
.noticias-section .home-post-container > h4 > a {
  color: #AAAC9F !important;
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: 100;
}
/* line 117, ../sass/partials/_home.scss */
.noticias-section .home-post-container .excerpt {
  font-size: 1.3em;
  font-weight: 200;
  margin-bottom: 0.6em;
  margin-top: 0.6em;
}
/* line 123, ../sass/partials/_home.scss */
.noticias-section .home-post-container .readmore-post {
  color: #36afa0;
  display: inline-block;
  font-size: 1.1em;
  margin-bottom: 10px;
  text-decoration: underline;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "Oswald";
}
/* line 133, ../sass/partials/_home.scss */
.noticias-section .home-post-container .readmore-post:hover {
  text-decoration: none;
}
/* line 138, ../sass/partials/_home.scss */
.noticias-section .home-post-container .comments {
  float: right;
}
/* line 140, ../sass/partials/_home.scss */
.noticias-section .home-post-container .comments > a {
  color: #36afa0;
  font-weight: 500;
  padding-left: 20px;
  background: url("http://placehold.it/15x15") no-repeat scroll left center transparent;
  text-decoration: none;
}
/* line 147, ../sass/partials/_home.scss */
.noticias-section .home-post-container .comments > a:hover {
  text-decoration: underline;
}
/* line 153, ../sass/partials/_home.scss */
.noticias-section .home-post-container {
  border-bottom: 1px solid #ccc;
  padding-bottom: 30px;
  padding-top: 20px;
}
/* line 157, ../sass/partials/_home.scss */
.noticias-section .home-post-container:nth-child(2) {
  padding-top: 0px;
}
/* line 162, ../sass/partials/_home.scss */
.noticias-section .home-post-container:nth-last-child(2) {
  border-bottom: 0 !important;
}
/* line 166, ../sass/partials/_home.scss */
.noticias-section .btn.more-news {
  font-size: 1.4em;
  font-weight: 500;
}
/* line 170, ../sass/partials/_home.scss */
.noticias-section .btn.more-news:hover, .noticias-section .btn.more-news:active, .noticias-section .btn.more-news:focus {
  color: #fff;
}
/* line 176, ../sass/partials/_home.scss */
.noticias-section .newsletter {
  background: none repeat scroll 0 0 #E8A145;
  border: 1px solid #d2943d;
  border-radius: 3px;
  padding: 30px 40px;
  margin-bottom: 40px;
}
/* line 184, ../sass/partials/_home.scss */
.noticias-section .newsletter h2 {
  color: #fff;
  font-size: 2.6em;
  text-transform: uppercase;
  margin: 0 0 20px;
}
/* line 191, ../sass/partials/_home.scss */
.noticias-section .newsletter p {
  color: #ffffff;
  margin-bottom: 15px;
}
/* line 196, ../sass/partials/_home.scss */
.noticias-section .newsletter input {
  border-radius: 5px;
  margin-bottom: 20px;
}
/* line 201, ../sass/partials/_home.scss */
.noticias-section .newsletter form {
  margin-bottom: 0;
}

@media only screen and (min-width: 40.063em) {
  /* line 214, ../sass/partials/_home.scss */
  .grilla .left-grid-col .home-grid-cell:nth-child(2) {
    float: left;
  }
  /* line 218, ../sass/partials/_home.scss */
  .grilla .left-grid-col .home-grid-cell:nth-child(2), .grilla .left-grid-col .home-grid-cell:nth-child(3), .grilla .left-grid-col .home-grid-cell:nth-child(4) {
    display: inline-block;
    width: 47%;
  }
  /* line 223, ../sass/partials/_home.scss */
  .grilla .right-grid-col .home-grid-cell:nth-child(2), .grilla .right-grid-col .home-grid-cell:nth-child(3) {
    display: inline-block;
    width: 45.7%;
    margin-bottom: 21px;
  }
  /* line 229, ../sass/partials/_home.scss */
  .grilla .left-grid-col .home-grid-cell:nth-child(1) {
    height: 437px;
    width: 98%;
    margin-bottom: 23px;
  }
  /* line 235, ../sass/partials/_home.scss */
  .grilla .left-grid-col .home-grid-cell:nth-child(3) {
    margin-bottom: 22px;
  }
  /* line 239, ../sass/partials/_home.scss */
  .grilla .left-grid-col .home-grid-cell:nth-child(2) {
    height: 392px;
    margin-right: 2%;
  }
  /* line 244, ../sass/partials/_home.scss */
  .grilla .left-grid-col .home-grid-cell:nth-child(3), .grilla .left-grid-col .home-grid-cell:nth-child(4) {
    height: 185px;
    margin-left: 2%;
  }
  /* line 250, ../sass/partials/_home.scss */
  .grilla .right-grid-col .home-grid-cell:nth-child(1) {
    height: 218px;
    margin-bottom: 23px;
    width: 97%;
  }
  /* line 256, ../sass/partials/_home.scss */
  .grilla .right-grid-col .home-grid-cell:nth-child(2), .grilla .right-grid-col .home-grid-cell:nth-child(3) {
    height: 292px;
  }
  /* line 260, ../sass/partials/_home.scss */
  .grilla .right-grid-col .home-grid-cell:nth-child(2) {
    margin-right: 2.3%;
  }
  /* line 263, ../sass/partials/_home.scss */
  .grilla .right-grid-col .home-grid-cell:nth-child(3) {
    margin-left: 2.3%;
  }
  /* line 268, ../sass/partials/_home.scss */
  .grilla .right-grid-col .home-grid-cell:nth-child(4) {
    height: 295px;
    width: 97%;
  }
}
