// variables
$orange-button: #d2943d;
$orange-button-hover: #E8A145;

// black
$black: #2E352E;

// green
$footer-back: #AAAC9F;
$footer-copy: #2E352E;

//fonts
$osw: 'Oswald';
$src: 'Source Sans Pro';

// KS

.btn {
    background: none repeat scroll 0 0 $orange-button;
    border: 1px solid #d48f04;
    border-radius: 4px;
    box-sizing: border-box !important;
    color: #ffffff;
    display: inline-block;
    font-size: 1em;
    // height: 32px !important;
    padding: 8px 18px;
    text-transform: uppercase;
    font-family: $osw;
    &:hover{
        background: $orange-button-hover;
    }
}

.btn-green {
    background: none repeat scroll 0 0 #38b2a5;
    border: 1px solid #118b7e;
    border-radius: 3px;
    bottom: 0;
    color: #fff;
    font-family: "Oswald";
    font-size: 14.3px;
    font-weight: 400;
    line-height: 9px;
    padding: 15px 25px;
    text-transform: uppercase;
    &:hover{
        background: none repeat scroll 0 0 #1e988b;
    }
}
// HELPERS FULL WIDTH

.tac{ text-align: center !important;}
.tal{ text-align: left !important; }
.tar{ text-align: right !important; }
.mt-40 { margin-top: 40px !important; }
.pl-0{ padding-left: 0!important; }
.pr-0{ padding-right: 0!important; }
.dib{ display: inline-block !important; }
.vam { vertical-align: middle !important; }

// HELPERS SMALL: ONLY UNDER THAN 641Px ( ? )
@media only screen and (max-width: 40em){
	.tac-for-small{ text-align: center !important; }
	.tal-for-small{ text-align: left !important; }
	.tar-for-small{ text-align: right !important; }
	.pl-0-for-small{ padding-left: 0!important; }
	.pr-0-for-small{ padding-right: 0!important; }
	.dib-for-small{ display: inline-block !important; }
}


// // HELPERS LARGE: ONLY UP THAN 640PX ( ? )
@media only screen and (min-width: 40.063em){
	.tac-for-large{ text-align: center !important; }
	.tal-for-large{ text-align: left !important; }
	.tar-for-large{ text-align: right !important; }
	.pl-0-for-large{ padding-left: 0!important; }
	.pr-0-for-large{ padding-right: 0!important; }
	.dib-for-large{ display: inline-block !important; }
}
